.card-container {
    display: flex;
    flex-direction: row;
    width: 17rem;
    background-color: azure;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-items: center;
    padding: 2rem 0 2rem 2rem;
    margin-right: 1rem;
}

.card-info-container {
    display: flex;
    flex-direction: column;
}

.card-container .weather-image {
    height: 6rem;
    width: 6rem;
    margin: auto;
}

.card-info-container .card-info {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card-info-container span:last-of-type {
    margin-bottom: 0;
}
