.App {
  height: 100%;
  padding: 0 4rem;
}

.title {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.todays-forecast-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}

.todays-forecast-container .todays-forecast-card-container {
  height: 12rem;
  min-height: 12rem;
  padding: 2rem;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: gainsboro;
  max-width: 42%;
  width: 42%;
  min-width: 32rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.todays-forecast-container .todays-forecast-card-container > div,
.weekly-forecast-container .todays-forecast-card-container > div
{
  width: 100%;
  margin: auto;
  text-align: center;
}

.weekly-forecast-container .todays-forecast-card-container {
  height: 20rem;
  min-height: 20rem;
  padding: 2rem;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: gainsboro;
  min-width: 32rem;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  .todays-forecast-container .todays-forecast-card-container {
    max-width: 100%;
    width: 100%;
  }
}
